@model CSharpLearning.UI.ViewModels.SkillViewModels.PageSkillViewModel
    <h1>Skills</h1>
<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Skills) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var previous = Model.PageInfo.HasPrevious ? "" : "disabled";
    var next = Model.PageInfo.HasNext ? "" : "disabled";
}
<a class =" btn btn-info @previous" asp-route-pageNumber ="@(Model.PageInfo.PageNumber-1) ">Pre</a>
<a class =" btn btn-info @next" asp-route-pageNumber ="@(Model.PageInfo.PageNumber +1)">Next</a>