@model CSharpLearning.UI.ViewModels.SkillViewModels.PageSkillViewModel
    <h1>Skills</h1>
    <div class="row">
        <div class="col-5">
            <p>
                <a asp-action="Create" class="btn btn-info">Create New</a>
            </p>
        </div>
        <div class="col-7">
            <form asp-action="Index" method="post">
            <input type="text" name="searchText" value="@ViewData["filterData"]" />
                <button type="submit" value="Search">Search</button>
            </form>
        </div>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-route-sortOrder="@ViewData["IdSort"]"> Id</a>
            </th>
            <th>
                <a asp-route-sortOrder="@ViewData["TitleSort"]"> Title</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Skills) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var previous = Model.PageInfo.HasPrevious ? "" : "disabled";
    var next = Model.PageInfo.HasNext ? "" : "disabled";
}
<a asp-route-sortOrder="@ViewData["SortFilter"]" asp-route-FilterText="@ViewData["filterData"]" class=" btn btn-info @previous" asp-route-pageNumber="@(Model.PageInfo.PageNumber-1) ">Pre</a>
<a asp-route-sortOrder="@ViewData["SortFilter"]" asp-route-FilterText="@ViewData["filterData"]" class=" btn btn-info @next" asp-route-pageNumber="@(Model.PageInfo.PageNumber +1)">Next</a>